body{
    background-color: burlywood;
}
h1{
    color:orange;
    text-align : center;
    border-bottom: 4px dashed crimson;
    background-color:azure;
}
a{
    text-decoration :none;
    display:block;
}
div{
    color:blue;
}
input{
    color:red;
    display:block;
}
